/**
 * CSS for Alerts
 * @summary Additional CSS for bootstrap alerts Bootstrap 
 * @author Cliff Crerar
 * Created at     : 2018-07-06 22:43:59 
 * Last modified  : 2018-07-06 22:44:37
 */



.alert {
    display: none;
    position: absolute;
    color: white;
    border-radius: 0px !important;
    z-index: 7000 !important;
}

.alert.error {
    background-color: rgba(218, 0, 0, 0.9)
}

.alert.success {
    background-color: rgba(0, 194, 0, 0.9)
}

.rateBtns>.active {
    border: 3px solid black !important;
}

.bgFormCancel {
    position: relative !important;
    left: 0% !important;
}